<%- include('partials/header.ejs') %>
<link rel=stylesheet href="styles/home.css" />

<body>
    <main>
        <section id="home">
            <h1>Welcome to the Marvel WebSite</h1>
            <p class="home-subtitle">Here you will find all information about Marvel (the old ones)</p>
        </section>

        <section id="home-character">
            <div class="home-container">
                <img src="images/img-hexa.png" alt="Some characters" class="img-section">
                <div class="info-section">
                    <h2>Characters</h2><hr>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus atque suscipit commodi quaerat fugiat itaque ullam quidem, illo laborum sapiente cupiditate dignissimos voluptate quod rerum sit nihil voluptatibus modi animi?</p>
                    <button class="btn home-btn"><a href="/character"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>Characters</a></button>
                </div>
            </div>
        </section>

        <section id="home-comics">
            <div class="home-container">
                <div class="info-section">
                    <h2>Comics</h2><hr>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus atque suscipit commodi quaerat fugiat itaque ullam quidem, illo laborum sapiente cupiditate dignissimos voluptate quod rerum sit nihil voluptatibus modi animi?</p>
                    <button class="btn home-btn"><a href="/character"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>Characters</a></button>
                </div>
            </div>
        </section>
    </main>
</body>