<%- include('partials/header.ejs') %>
<link rel=stylesheet href="styles/home.css" />

<body>
    <main>
        <section id="home">
            <h1>Welcome to Marvel Web Page</h1>
        </section>
    </main>
</body>