<%- include('partials/header.ejs') %>
<link rel=stylesheet href="styles/home.css" />

<body>
    <main>
        <section id="home">
            <h1>Welcome to the Marvel WebSite</h1>
            <p class="home-subtitle">Here, you will find all information about Marvel (the classics)</p>
        </section>
        <div id="home-character">
            <div class="home-container">
                <img src="images/img-left.png" alt="Some characters" class="img-section img-left">
                <div class="info-section">
                    <h2>Characters</h2><hr>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus atque suscipit commodi quaerat fugiat itaque ullam quidem, illo laborum sapiente cupiditate dignissimos voluptate quod rerum sit nihil voluptatibus modi animi?</p>
                    <button class="btn home-btn"><a href="/character"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>Characters</a></button>
                </div>
            </div>
        </div>

        <div id="home-comics">
            <div class="home-container">
                <div class="info-section">
                    <h2>Comics</h2><hr>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus atque suscipit commodi quaerat fugiat itaque ullam quidem, illo laborum sapiente cupiditate dignissimos voluptate quod rerum sit nihil voluptatibus modi animi?</p>
                    <button class="btn home-btn"><a href="/comic"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>Comics</a></button>
                </div>
                <img src="images/marvel-comics.png" alt="Comics" class="img-section">
            </div>
        </div>

        <div id="home-events">
            <div class="home-container">
                <img src="images/marvel-events.png" alt="Events" class="img-section">
                <div class="info-section">
                    <h2>Events</h2><hr>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus atque suscipit commodi quaerat fugiat itaque ullam quidem, illo laborum sapiente cupiditate dignissimos voluptate quod rerum sit nihil voluptatibus modi animi?</p>
                    <button class="btn home-btn"><a href="/event"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>Events</a></button>
                </div>
            </div>
        </div>
        
        <div id="home-series">
            <div class="home-container">
                <div class="info-section">
                    <h2>Series</h2><hr>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus atque suscipit commodi quaerat fugiat itaque ullam quidem, illo laborum sapiente cupiditate dignissimos voluptate quod rerum sit nihil voluptatibus modi animi?</p>
                    <button class="btn home-btn"><a href="/serie"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>Series</a></button>
                </div>
                <img src="images/img-hexa.png" alt="Series" class="img-section">
            </div>
        </div>

    </main>
</body>