.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-logo {
    height: 70px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-item a {
    color: rgb(238, 235, 235);
    font-weight: 600;
    transition: 0.3s;
}

.nav-item a:hover {
    color: red;
}